{% extends 'base.html.twig' %}

{% block title %}Ta composition{% endblock %}

{% block body %}


<div class="example-wrapper">
        
        <img src="{{ asset('img/terrain.png') }}">
        <label for="pet-select">Choisi ta composition:</label>
        
<select name="compo" id="compo-select">
    <option value="433">4.3.3</option>
    <option value="442">4.4.2</option>
    <option value="532">5.3.2</option>

</select>

<div id="Player_1" class="player">
</div>
<div id="Player_2" class="player">
</div>
<div id="Player_3" class="player">
</div>
<div id="Player_4" class="player">
</div>
<div id="Player_5" class="player">
</div>
<div id="Player_6" class="player">
</div>
<div id="Player_7" class="player">
</div>
<div id="Player_8" class="player">
</div>
<div id="Player_9" class="player">
</div>
<div id="Player_10" class="player">
</div>
<div id="Player_11" class="player">
</div>



</div>
{% endblock %}
